
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*regole generali*/
.flex {
    display: flex;
}

.align-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-space-btw {
    justify-content: space-between;
}



/*regole generali*/


main{
    width: 100%;
}

/*Aside*/
aside {
    width: 20%;
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 100px
}

aside .nav .logo {
    width: 100%;
    height: 100px;
    background-color: violet;
}

aside .nav {
    width: 100%;
    height: 100px;
    background-color: rgb(130, 238, 153);
}
aside .nav .space {
    margin-bottom: 20px;
} 



/*fine Aside*/

/*Section*/
section {
    width: 80%;
    background-color: #141922;
    margin-left: 20%;    
}

/*section header*/
section .header {
    width: 80%;
    height: 100px;
    background-color: rgba(8, 11, 18, 0.8) ;
    justify-content: flex-end;
    position: fixed;
    right: 0;
}

.upgrade {
    align-items: center;
    margin-right: 10px;
}

.upgrade span {
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 30px;
}
/*section header*/

/*content*/

section .content {
    width: 80%;
    margin: auto;
    height: 100vh;
    margin-top: 100px;
}

section .content .menu {
    width: 70%;
    margin: 10px auto;
    height: 20px;
    background-color: tomato;
}

section .content .nav {
    width: 100%;
    margin: 10px auto;
    height: 200px;
    background-color: tomato;
}

section .content .title span {
    color: white;
}

section h2 {
    color: white;
    margin: 20px 0px;
}

.item {
    width: 180px;
    height: 220px;
    background-color: rgb(28, 173, 240);
    margin: 10px 10px 10px 0px;
}

/*content*/

/*fine Section*/

/*Footer*/
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #282828 ;
}

footer .left , footer .right {
    width: 20%;
    background-color: tomato;
}

footer .center {
    width: 60%;
    background-color: yellow;
}

/*fine Footer*/


