
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*regole generali*/

body {
    font-family: sans-serif;
    font-size: 10px;
}

main{
    width: 100%;
}
   
.flex {
    display: flex;
}

.align-end {
    align-items: flex-end;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-space-btw {
    justify-content: space-between;
}

.flex-space-ard {
    justify-content: space-around;
}

.center-X {
    justify-content: center;
}

.center-Y {
    align-items: center;
}

.grey {
    color: grey;
}

.white {
    color: white;
}

.desk {
    display: none;
}

.margin-L {
    margin-left: 5px;
}


/*fine regole generali*/


/*Aside*/
aside {
    width: 60px;
    background-color: #000000;
    position: fixed;
    z-index:2;
    left: 0;
    top: 0;
    bottom: 60px;
}

.scroll {
    overflow-y: auto;
}

.nav-up {
    height: calc(100% -90px);
    overflow-y: hidden;
    min-height: 380px;
}

.nav-down {
    height: 90px;
}

aside .nav .logo .mobile{
    width: 100%;
}

.container-logo {
    width: 100%;
}

aside .nav {
    width: 100%;
    padding: 8px ;
}

aside .active {
    border-left: 2px solid #94dd25;
}

.space {
    margin: 10px 0px;
} 

aside .nav-2 {
    display: none;
    overflow-y: hidden;
}

.container {
    width: 100%;
}

.container-icon {
    width: 30px;
}

aside .nav-2 ul {
    list-style-type: none;
}

aside .nav-2 ul li {
    padding: 10px 0px;
}

aside .nav-2 li a {
    text-decoration: none;
    color: gray;
} 

aside .nav-2 li a:hover{
    color: white;
}

.square {
    width: 30px;
    height: 30px;
    background-color: grey;
    text-align: center;
    font-size: 20px;
    padding: 4px;
    margin-right: 10px;
    color: black;
}

aside img {
    color: grey
}

.container-icon .hr img {
    margin-right: ;
}

.circle {
    background-color: #808080;
    border-radius: 25px;
    padding: 5px;
}


/*fine Aside*/

/*Section*/
section {
    width: 100vw;
    background-color: #141922;
    margin-left: 60px;    
}

/*section header*/
section .header {
    width: 100vw;
    height: 100px;
    background-color: rgba(8, 11, 18, 0.8) ;
    margin-left: 150px;
    justify-content: flex-end;
    position: fixed;
    right: 0;
}

.upgrade {
    align-items: center;
    margin-right: 10px;
}

.upgrade span {
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 30px;
}
/*fine section header*/

/*content*/

section .content {
    width: 100%;
    margin: auto;
    padding: 100px 20px;
    color: white;
}

section .content .menu {
    margin: 10px auto;
}

section .content .menu ul li {
    list-style-type: none ;
    padding: 10px 10px;
}

section .content .menu ul li a {
    color: grey;
    text-decoration: none;
    position: relative;
}

section .content .menu ul li a:hover {
    color: white;
}

section .content .menu ul li a.active::after {
    content: "";
    height: 2px;
    width: 40px;
    background-color: #94dd25;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}

section h2 {
    margin: 20px 0px;
}

.item {
    width: 120px;
    height: 200px;
    margin: 10px 10px 10px 0px;
} 

section .description {
    text-align:center
}

.description span {
    color: grey;
}

section img {
    width: 120px;
    object-fit: contain;
}

.around img{
    border-radius: 50%;
}

/*fine content*/

/*fine Section*/

/*Footer*/
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #282828 ;
    color: white;
    font-size: 10px;
    z-index: 999;
}

footer img {
    height: 40px;
    object-fit: contain;
}

footer .col-center {
    display: none;
}

footer .left , footer .right {
    width: 30%;
    min-width: 100px;
    max-width: 200px;
}

footer .center .up {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
}

footer .row-time {
    width: 90px;
    height: 5px;
    background-color: grey;
    border-radius: 25px;
    margin: 0px 5px;
}

footer .row-volume {
    width: 40px;
    height: 5px;
    background-color: grey;
    border-radius: 25px;
    padding: 2px;
    margin-left: 3px;
}

footer a i{
    font-size: 20px;
}


/*fine Footer*/


/*Screen TABLET*/
@media screen and (min-width: 425px) {
    
    body {
        font-size: 11px;
    }

    .desk {
        display: block;
    }

    aside {
        width: 120px;
        color: white;
    }

    .container-hr {
        border-bottom: 1px solid #808080;
    }

    aside .nav .logo .mobile{
        display: none;
    }
    
    aside .nav .logo .desk {
        display: block;
        width: 100%;
    }

    section {
        margin-left: 120px;    
    }

    aside .nav-2 {
        display: block;
    }
    
    footer img {
        height: 40px;
    }

    footer .center .up {
        width: 80%;
    }

    footer .row-time {
        width: 130px;
    }

    footer a i{
        font-size: 15px;
    }

    footer .col-center {
        display: block;
    }
    
}

/*fine screen TABLET*/

/*Screen DESKTOP*/
@media screen and (min-width: 768px) {

    aside {
        width: 180px;
    }

    section {
        margin-left: 180px;    
    }

    .item {
        width: 150px;
        height: 220px;
    } 

    section img {
        width: 150px;
    }

    footer img {
        width: 40px;
        height: 40px;
    }

    footer .center .up {
        width: 60%;
    }

    footer .row-time {
        width: 350px;
    }
    
}

/*fine screen DESKTOP*/
